.centerBlock {
    display: table;
    margin: auto;
    padding: 3px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }

.centerBlock button {
    margin: 10px;
}

.img {
    max-height: 200px;
    width: auto;

}