/* .centerBlock {
    margin: auto;
    padding: 3px;
    position: relative;
    top: 80%;
    transform: translateY(-50%);
 } */

 @media (min-width: 768px){
    .navbar2 {
	background-color: whitesmoke;
	height: 80px;
    }

    .navbar-brand2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	text-align: left;
	padding: auto;
	color: coral !important;
    }
    
    .navbar2 form button {
	background-color: coral;
	border: 2px solid coral;
	max-height: 50px;
	padding: 0.5em;
	margin: 0.5em 0.1em;
	width: 100% !important;
    }

    .navbar2 input {
	padding: 0.7em;
	margin: 0.5em 0.1em;
	color: coral;
	background: white;
	border: solid;
	border-width: 2px;
	max-height: 50px;
	width: 100% !important;
	max-width: 100% !important;
    }

    /* .col-md-2 { */
    /* 	padding: 0 !important; */
    /* } */
    .navbar2 .col-md-3{
	padding: 0 5px !important;
    }
    .navbar2 .col-md-3 > .col-12{
	padding: 0 !important;
    }
    
    .navbar-collapse {
	display: block;
	background-color: whitesmoke;
    }

    .show {
	border-bottom: 3px solid coral;
    }

    .navbar2 form button, .navbar2 form input{

    }
    
    .navbar2 h3{
	font-size: 1em !important;
	line-height: 4em;
    margin: auto 1em;
    text-align: left;

    }
}
@media (max-width: 767px){
    .navbar2 {
	background-color: whitesmoke;
    }


    .navbar-brand2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	text-align: left;
	padding: auto;
	color: coral !important;
    }

    .navbar2 form li{
	margin: 0.25em;
    }

    .navbar2 form, .navbar2 form ul {

    }
    .navbar2 form button, .navbar2 form input{
	height: 50px;
    }

    .navbar2 form{
	float: left;
    }

    .navbar2 form button {
	background-color: coral;
	border: 2px solid coral;
    }

    .navbar2 h3{
        font-size: 1.3em !important;
        line-height: 4em;
        margin: auto 3.3em;
        text-align: center;
    }

}

.link {
    padding: 0;
    margin: 0.6em;
    border: none;
    float: left;
    max-width: 50px;
    max-height: 50px;
}

#carrinho {
    width: 100%;
    height: 100%;
    padding: 0;
}

#userimage {
    width: 100%;
    height: 100%;
    padding: 0;
}

.navbar2 h3 {
    font-family: 'Ubuntu', sans-serif;
     padding: auto;
     text-align: center;
     color: coral;
     max-height: 50px;
     float:left;

}

.btn-coral{
    background-color: coral;
    border: 2px solid coral;
}
.search-bar-button {
    padding: .375rem 1rem .375rem .75rem;
    width: 100%;
}

.input-group-prepend {
    width: 10%;
    min-width: 80px;
}
