.btn-group2 {
    max-width: 100% !important;
    width: 100%;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
}

.nav-item2 {
    width: 100%;
}

.btn-group2 button {
    background-color: coral;
    border: 2px solid coral;
    border-radius: 0;
    width: calc(100%/8);
}
