.form-group button {
    /* max-width: 100% !important; */
    /* width: 10%; */
    /* padding: 0 !important;
    margin: 0 !important; */
    font-size: 2.0 em;
    color: oldlace;
    background: coral;
    border: 2px solid coral;
    border-radius: 0;
    /* position: relative;
    left: 25%; */
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.form-group label {
    font-size: 2.0  em;
    margin: 0.5% !important;

}

.form-group .form-group {
    /* width: 50%; */
    margin-left: 0.7% !important;
    margin-right: 0.7% !important;
    margin-top: 0.3% !important;
    /* position: relative;
    left: 15%; */
    border-width: 3px;
    border-color: gray;
}

