
.centerBlock {
    display: table;
    margin: auto;
    padding: 3px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }

.centerBlock button {
    font-size: 2.0 em;
    color: oldlace;
    background: coral;
    border: 2px solid coral;
    border-radius: 0;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


.form-group label {
    font-size: 2.0  em;
    margin: 0.5% !important;

}
